<!DOCTYPE html>
<html class="light">
  <head>
    <title>{{ title }}</title>
    <link rel="preload" href="/public/light.css?v={{ pkgVersion }}" as="style">
    <link rel="stylesheet" href="/public/light.css?v={{ pkgVersion }}" id="theme">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css?v={{ pkgVersion }}">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="version" content="{{ pkgVersion }}">
    <style>
      body { visibility: hidden; }
      body.loaded { visibility: visible; }
    </style>
  </head>
  <body>
    <div id="root">
      <div class="layout">
        {% include "header.njk" %}
        <div class="content-wrapper">
          {% include "nav.njk" %}
          <div class="main-container">
            <div class="breadcrumb-wrapper"></div>
            <main class="content">{{ content | safe }}</main>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/dist/main.js?v={{ pkgVersion }}" defer></script>
  </body>
</html>