<!-- arkitect/src/_includes/nav.njk -->
<nav class="left-nav">
  {% set seen = [] %}
  {% for item in nav %}
    {% if item.url not in seen %}
      <a href="{{ item.url }}" title="{{ item.title }}">
        {% if item.icon %}
          <i class="fas fa-{{ item.icon }}"></i>
        {% endif %}
        <span>{{ item.title }}</span>
      </a>
      {% set seen = seen | concat([item.url]) %}
    {% endif %}
  {% endfor %}
</nav>